@using SAC.Web.App_Start
<head>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container body-content" style="max-width: 640px;">
        <div class="jumbotron"><h2>@Application.OrganizationName</h2></div>
        @RenderBody()
    </div>
</body>