@model IEnumerable<SAC.Domain.Models.Schedule>

@{
    ViewBag.Title = "Schedule";
}

<div class="jumbotron">
    <h2>Schedule</h2>
    <p class="lead">Upcoming tournaments and special events.</p>
</div>

<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-md-3 col-sm-6">
        @Html.DisplayFor(model => item)
    </div>
    }
</div>
