@model IEnumerable<SAC.Domain.Models.Schedule>

@{
    ViewBag.Title = "Schedule";
}

<div class="jumbotron">
    <h2>Schedule</h2>
    <p class="lead">TODO: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
