@model SAC.Domain.Models.Tournament

@{
    ViewBag.Title = "Delete";
}

<div class="well">
    <h2>Delete</h2>
    <h4>Are you sure you want to delete this?</h4>
</div>

<div>
    <h4>Tournament</h4>
    <hr />
    @Html.DisplayFor(model => model, "TournamentConfirm")

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.Partial("BtnDeleteCancelReturn", Model)
        </div>
    }
</div>
