@model IEnumerable<SAC.Domain.Models.Tournament>

@{
    ViewBag.Title = "Tournaments";
}

<div class="jumbotron">
    <h2>Tournaments</h2>
    <p class="lead">TODO: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>

@foreach(var tournament in Model)
{
    @Html.ActionLink("View Results", "Results", new { Id = tournament.Id })
}