@using SAC.Domain.Models
@model IEnumerable<Club>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2>Your Local Clubs</h2>
    <p class="lead">Find information about your local clubs below and check out their websites.  Get driving directions and come visit.</p>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4">
            @Html.DisplayFor(model => item)
        </div>
    }
</div>

@if (User.IsInRole("Club Admin")
    || User.IsInRole("Tech Admin"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}