@model IEnumerable<SAC.Domain.Models.Club>

@{
    ViewBag.Title = "Clubs";
    int i = 0;
}

<div class="jumbotron">
    <h2>Your Local Clubs</h2>
    <p class="lead">Find information about your local clubs below and check out their websites.  Get driving directions and come visit.</p>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            @Html.DisplayFor(model => item)
        </div>

        i++;
        if (i % 2 == 0)
        {
            <div class="clearfix visible-sm"></div>
        }
        else if (i % 3 == 0)
        {
            <div class="clearfix visible-md visible-lg"></div>
        }
    }
</div>
