@model SAC.Domain.Models.Club

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>Please select an image to upload</div>
    <input name="image" type="file">
    <input type="submit" value="Upload Image" />
}