<div class="row" style="margin-top:20px">
    <div style="float: left; margin-right:25px">
        <img src="~/Content/Images/SAC.PNG" />
    </div>

    <div style="margin-left:25px">
        <h1>@ViewBag.Title</h1>
        <h2>@ViewBag.Message</h2>
    </div>
</div>

<div style="margin-top:50px" align="center">
    <img src="~/Content/Images/SAC2.jpg" />
</div>

