<div>

    <div style="float: left">
        <img src="~/Content/Images/SAC.PNG" />
    </div>

    <div>
        <h1>@ViewBag.Title</h1>
        <h2>@ViewBag.Message</h2>
    </div>
</div>

<div style="float: left">
    <img src="~/Content/Images/SAC2.jpg" />
</div>

