@model IEnumerable<SAC.Domain.Models.Tournament>

<div class="row" style="margin-top:20px">
    <div style="float: left; margin-right:25px">
        <img src="~/Content/Images/SAC.PNG" />
    </div>

    <div style="margin-left:25px">
        <h1>@ViewBag.Title.</h1>
        <h2>@ViewBag.Message</h2>
    </div>
</div>



<div class="row" style="margin-top:20px">
    <div class="col-sm-push-3" style="float:left; margin-right:50px">
        @Html.DisplayFor(x => x, "TournamentMenu")
    </div>

    <div class="col-sm-push-3" align="center">
        <img style width="600" height="300" src="~/Content/Images/SAC2.jpg" />
    </div>
</div>