@model SAC.Web.Models.ClassViewModel

@{
    ViewBag.Title = "Classes";
}

<div class="jumbotron">
    <h2>Shooting Classes</h2>
    <p class="lead">TODO: Info</p>
</div>

@foreach (var group in Model.Groups)
{
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">@group.Name</h3>
            </div>
            <div class="panel-body">
                @foreach (var item in Model.Classes.Where(c => c.Group.Id == group.Id).OrderBy(c => c.Name))
                {
                    <div class="col-lg-4">
                        @Html.DisplayFor(model => item)

                    </div>
                }
            </div>
        </div>
    </div>
}
